@import 'tailwindcss';

:root {
  font-size: 16px;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav a.active {
  font-weight: bold;
  text-decoration: underline;
  color: #4f46e5;
}
